*.hi
*.o
*.chi
*.swp
*.chs.h
dist/
cabal-dev/
libssh2/Network/SSH/Client/LibSSH2/Foreign.hs
libssh2/Network/SSH/Client/LibSSH2/Types.hs
libssh2/Network/SSH/Client/LibSSH2/Errors.hs
ssh-client
.stack-work/
libssh2/.ghc.environment.*
libssh2/dist
libssh2/dist-*
libssh2-conduit/.ghc.environment.*
libssh2-conduit/dist
libssh2-conduit/dist-*
